.hero{
    
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 168px;
    background-image: url(../images/Bitmap.png);
    background-repeat: no-repeat;
}





.hero__inner__title{
    
    
    padding-top: 137px;
    width: 238px;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    padding-left: 38px;
    
    
    
    
}


.hero__inner__text{
    width: 445px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    padding-bottom: 137px;
    padding-left: 38px;
}
