.map__inner{
    width: 1045px;
    margin: 0 auto;
    margin-bottom: 167px;
}

.map__inner__list{
    display: flex;
    justify-content: space-between;
}


.map__inner__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 100px;
}


.map__list{
    padding-left: 0%;
    margin-top: 24px;
}

.map__inner__box__title{
    margin-top: 46px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    
}

.map__list__item{
   
    width: 285px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
   color: #333D4B;
    list-style: none;
}